<!DOCTYPE html>
<html>
    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>

         <div class="main-content">
            <!--Start of NavBar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Pet Community</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav ms-auto">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Adoption
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">How do i choose a right pet for me</a>
                        <a class="dropdown-item" href="#">List of pets</a>
                        <a class="dropdown-item" href="account">Adopt a pet</a>
                      </div>
                    </div>

                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blood Donation
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">About Blood Donation</a>
                        <a class="dropdown-item" href="#">Requirements in order to donate</a>
                        <a class="dropdown-item" href="account">Find a Donor</a>
                      </div>
                    </div>

                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shelter Donation
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">About Shelters</a>
                        <a class="dropdown-item" href="#">List of Shelters</a>
                        <a class="dropdown-item" href="account">Donate to a shelter</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Establishment
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Pet/Grooming shops</a>
                        <a class="dropdown-item" href="#">Veterinary Clinics</a>
                        <a class="dropdown-item" href="#">Government Services</a>
                      </div>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Trainings/Seminars</a>
                    </li>

                    <!-- <li class="nav-item">
                      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#account">Create Account</button>
                    </li> -->
                    
                  </ul>
                </div>
              </div>
            </nav>
            <!--End of NavBar -->




         </div>


         <div>
            <section class="vh-100">
                <div class="container-fluid h-custom">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                      <form method="post" action="/login">
                        <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                          <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                          <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                          </button>
                        </div> -->
                        <!--               
                        <div class="divider d-flex align-items-center my-4">
                          <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div> -->
              
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="emailinput" name="emailinput" class="form-control form-control-lg"


                            placeholder="Enter a valid email address" />
                          <label class="form-label" for="emailinput">Email address</label>
                        </div>
              
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                          <input type="password" id="passwordinput" name="passwordinput" class="form-control form-control-lg"
                            placeholder="Enter password" />
                          <label class="form-label" for="passwordinput">Password</label>
                        </div>
              
                        <div class="d-flex justify-content-between align-items-center">
                          <!-- Checkbox -->
                          <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="rememberme" />
                            <label class="form-check-label" for="rememberme">
                              Remember me
                            </label>
                          </div>
                          <a href="#!" class="text-body">Forgot password?</a>
                        </div>
              
                        <div class="text-center text-lg-start mt-4 pt-2">
                          <input type="submit" class="btn btn-primary btn-lg" value="Login" 
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                          <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="registration"
                              class="link-danger">Register</a></p>
                        </div>
              
                      </form>
                    </div>
                  </div>
                </div>
                
              </section>
         </div>



    </body>
</html>