<!DOCTYPE html>
<html>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <body>
        <div>
            <h2>shelter about page</h2>
            
           


        </div>
    </body>
</html>